body {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
}

#full-page {
    background-color: #381f59;
    color: white;
}

h1 {
    text-align: center;
}

.boxes-container {
    display: flex;
    margin-bottom: 20px;
}

.box {
    width: 200px;
    height: 200px;
    background-color: #502c7f;
    border-radius: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box p {
    color: white;
    text-align: center;
    margin: 10px;
    font-size: 1.3em;
    font-weight: bold;
}

header {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    background-color: #009c97;
}

.header-buttons {
    display: flex;
}

.header-buttons a,
.header-buttons button {
    background-color: #502c7f;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 10px;
}

.header-buttons button:first-child {
    margin-left: auto;
}

.content-container {
    display: flex;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
}

.additional-text {
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

.arrow {
    margin-right: 5px;
}

.form-container {
    width: 50%;
    background-color: #00cfc8;
    padding: 20px;
    border-radius: 10px;
}

#contact-form label {
    display: block;
    margin-bottom: 5px;
}

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form select,
#contact-form input[type="url"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #381f59;
    border-radius: 10px;
    box-sizing: border-box;
}

#contact-form input[type="submit"] {
    background-color: #381f59;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
}

#contact-form input[type="submit"]:hover {
    background-color: #5a3b7e;
}

/* Efeito de transição nos quadrados de texto */
.box {
    transition: background-color 0.3s ease;
}

.box:hover {
    background-color: #201233;
}

@media (min-width: 768px) {
    .header-buttons button {
        display: none;
    }
}
