/* Estilos CSS para o site Gym Media */
/* Reset de estilos */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f8f8;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos para o cabeçalho */
header {
    background-color: #381f59;
    color: #fff;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    width: 70px;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #00b3ad;
}

.menu-toggle {
    display: none;
}

/* Estilos para o banner */
.banner {
    height: 100vh;
    display: flex;
    justify-content:
