/* Estilos CSS aqui */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #03fff6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #381f59;
    color: #fff;
    padding: 20px 10px; /* Aumenta o padding para dar mais espaço ao texto */
    text-align: center;
}

.banner {
    background-image: url('');
    background-color: transparent;
    color: #fff;
    text-align: center;
    padding: 0;
    overflow: hidden;
    height: 200px; /* Altera a altura da faixa roxa */
}

.frase-banner {
    position: relative;
    width: 100%;
    height: 100%; /* Ajusta a altura do banner para ocupar toda a faixa roxa */
}

.frase-banner h1 {
    font-weight: 800;
    font-size: 2em;
    position: absolute;
    top: 50%; /* Alinha o texto no centro verticalmente */
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 50px; /* Adiciona margem ao topo do texto */
}
.custom-text {
    color: #000; /* Define a cor do texto como preto */
    line-height: 2; /* Define o espaçamento duplo entre as linhas */
}

.block {
    padding: 20px;
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
}

.block h2 {
    margin-top: 0;
    color: #381f59;
}

.blog-post {
    background-color: #fff;
    color: #000;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.blog-post h2 {
    color: #381f59;
}

.blog-post h3, .blog-post h4 {
    color: #009c97;
}

.blog-post .post-date {
    color: #888;
    font-size: 0.9em;
    margin-bottom: 10px;
}

.blog-post .post-intro {
    font-size: 1.1em;
    margin-bottom: 20px;
}

.blog-image {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #381f59;
    color: #fff;
}

/* Adiciona regras responsivas */
@media (max-width: 768px) {
    .blog-image {
        height: auto;
    }

    .blog-post h2 {
        font-size: 1.5em;
    }

    .blog-post .post-intro {
        font-size: 1em;
    }

    .blog-post h3, .blog-post h4 {
        font-size: 1.2em;
    }
}

.whatsapp-button {
    display: inline-block;
    background-color: #009c97; /* Cor roxa da sua paleta */
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.whatsapp-button:hover {
    background-color: #381f59; /* Cor roxa mais escura para hover */
}

.social-icons {
    position: fixed;
    top: 50%;
    right: 100px; /* Ajuste esta propriedade para adicionar espaço da borda direita */
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espaço entre os ícones */
}

.social-icons a img {
    width: 40px; /* Ajuste o tamanho do ícone conforme necessário */
    height: 40px;
    filter: invert(36%) sepia(5%) saturate(378%) hue-rotate(220deg) brightness(87%) contrast(96%);
}

/* Ocultar ícones de redes sociais em dispositivos móveis */
@media (max-width: 767px) {
    .social-icons {
        display: none;
    }
}

.about-agency {
    background-color: #f3f3f3;
    padding: 20px;
    margin-top: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.about-agency h3 {
    color: #381f59; /* Cor do título */
}

.about-agency p {
    color: #201233; /* Cor do texto */
}

.contact-info {
    margin-left: 20px;
    max-width: 300px;
}

.contact-info a {
    color: #00cfc8; /* Cor dos links */
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

/* Regras responsivas para a seção sobre e contato */
@media (max-width: 768px) {
    .about-agency {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px 0;
}

.about-agency > div {
    flex: 1;
    min-width: 300px; /* Ajuste conforme necessário */
}

.agency-description {
    max-width: 50%; /* Limita a largura da descrição */
}

.agency-description p {
    font-size: 0.9em; /* Diminui o tamanho da fonte */
    line-height: 1.6em; /* Ajusta a altura da linha para melhor legibilidade */
    margin-bottom: 0.5em;
}

.about-agency h3, .about-agency h4 {
    margin-top: 0;
}

.contact-info {
    margin-left: 2em;
}
/* Estilos para desktop */
@media (min-width: 768px) {
    .about-agency {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
}

.about-agency > div {
    flex: 1;
    min-width: 300px; /* Ajuste conforme necessário */
}

.agency-description p {
    line-height: 1.6em; /* Ajusta a altura da linha para melhor legibilidade */
    margin-bottom: 0.5em;
}

.about-agency h3, .about-agency h4 {
    margin-top: 0;
}

.contact-info {
    margin-left: 2em;
}

/* Estilos para desktop */
@media (min-width: 768px) {
    .about-agency {
        justify-content: space-between;
    }

    .agency-description {
        max-width: 50%; /* Limita a largura da descrição no desktop */
    }

    .agency-description p.desktop-description {
        display: block;
    }

    .agency-description p.full-description {
        display: none;
    }
}

/* Estilos para mobile */
@media (max-width: 767px) {
    .about-agency {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
}

.about-agency > div {
    flex: 1;
    min-width: 300px; /* Ajuste conforme necessário */
}

.agency-description p {
    line-height: 1.6em; /* Ajusta a altura da linha para melhor legibilidade */
    margin-bottom: 0.5em;
}

.about-agency h3, .about-agency h4 {
    margin-top: 0;
}

.contact-info {
    margin-left: 2em;
}

/* Estilos para mobile */
@media (max-width: 767px) {
    .desktop-description {
        display: none; /* Esconde as descrições divididas no mobile */
    }

    .full-description {
        display: block; /* Mostra a descrição completa no mobile */
    }
}

/* Estilos para desktop */
@media (min-width: 768px) {
    .about-agency {
        justify-content: space-between;
    }

    .agency-description {
        max-width: 50%; /* Limita a largura da descrição no desktop */
    }

    .full-description {
        display: none; /* Esconde a descrição completa no desktop */
    }

    .desktop-description {
        display: block; /* Mostra as descrições divididas no desktop */
    }
}

