/* Estilos CSS aqui */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #03fff6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #381f59;
    color: #fff;
    padding: 5px; /* Diminui a altura do cabeçalho */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    width: 70px;
    margin-right: 10px;
}

.banner {
    background-image: url('');
    background-color: transparent;
    color: #fff;
    text-align: center;
    padding: 0;
    overflow: hidden;
    height: 150px; /* Diminui a altura do banner */
}

.frase-banner {
    position: relative;
    width: 100%;
    height: 100%;
}

.frase-banner h1 {
    font-weight: 800;
    font-size: 2em;
    position: absolute;
    top: 40%; /* Ajusta o texto do banner para centralizar verticalmente */
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 0; /* Remove margem adicional */
}

.frase-banner p {
    position: absolute;
    top: 60%; /* Ajusta o texto "Bem-vindo(a)" para ficar abaixo do título */
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 0; /* Remove margem adicional */
}

.block {
    padding: 20px;
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
}

.block h2 {
    margin-top: 0;
    color: #381f59;
}

#posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.post {
    width: calc(30% - 20px);
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Centraliza o conteúdo do post */
}

.post img {
    width: 100%;
    height: auto;
    display: block;
}

.post-info {
    padding: 20px;
}

.post-info h3 {
    margin-top: 0;
}

.post-info p {
    margin-bottom: 10px; /* Reduz o espaçamento abaixo da descrição */
}

.post-info a {
    display: block;
    margin-top: 10px; /* Adiciona espaçamento acima do link "Leia mais" */
    padding: 10px 20px;
    background-color: #009c97;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.post-info a:hover {
    background-color: #007872;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #381f59;
    color: #fff;
}
