body {
    background-color: #03fff6;
    font-family: Poppins, sans-serif;
}

h1 {
    text-align: center;
}

.grid-container {
    display: flex;
    justify-content: center;
}

.box {
    width: 200px;
    height: 200px;
    background-color: #502c7f;
    border-radius: 20px;
    margin: 0 10px; /* Adicionando margem entre os quadrados */
    display: flex;
    justify-content: center;
    align-items: center;
}

.box p {
    color: white;
    text-align: center;
    margin: 0; /* Removendo margem padrão do parágrafo */
}
