/* CSS personalizado aqui */
header {
  background-color: #381f59;
}

.header-buttons {
  justify-content: flex-end;
}

.info-box-container {
  display: flex;
  justify-content: space-between;
}

.info-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #502c7f;
  color: white;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px
