body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #381f59;
}

.header-section {
    background-color: #fff;
    text-align: center;
    padding: 20px;
}

.header-section h1 {
    color: #381f59;
    font-size: 2.5em;
    margin: 0;
}

.benefits-section {
    padding: 60px 20px;
    background-color: #f9f9f9;
    text-align: center;
    min-height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.benefits-section .container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
}

.benefits-section .box {
    background-color: #381f59;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    flex: 1;
    font-size: 1.5em;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.specialist-button-container {
    text-align: center;
    margin-top: 20px;
}

.cta-button {
    background-color: #00cfc8;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 25px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #009c97;
}

.intro-section {
    padding: 20px;
    text-align: center;
    font-size: 1.2em;
    color: #201233;
}

/* Media Queries */
@media (max-width: 768px) {
    .benefits-section .container {
        flex-direction: column;
        align-items: center;
    }

    .benefits-section .box {
        width: 100%;
        margin-bottom: 20px;
        font-size: 1.2em;
    }

    .header-section h1 {
        font-size: 2em;
    }

    .cta-button {
        font-size: 1em;
        padding: 12px 24px;
    }

    .intro-section {
        font-size: 1em;
    }
}
