/* CSS personalizado aqui */
header {
  background-color: #381f59;
}

.header-buttons {
  justify-content: flex-end;
}

.section {
  padding: 100px 0;
  background-color: #f8f9fa;
}

.section-header {
  text-align: center;
  margin-bottom: 50px;
}

.section-title {
  font-size: 36px;
  color: #381f59;
  margin-bottom: 20px;
}

.section-subtitle {
  font-size: 18px;
  color: #666;
}

.features {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.feature {
  text-align: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  width: calc(33.33% - 30px); /* 3 columns with some spacing */
}

.feature-icon {
  font-size: 36px;
  color: #381f59;
  margin-bottom: 20px;
}

.feature-title {
  font-size: 24px;
  color: #381f59;
  margin-bottom: 10px;
}

.feature-description {
  font-size: 16px;
  color: #666;
}
